/*登录*/
.bg{
	background: url(../imgs/zq-img1.jpg)  center;
}
.login-pg{
	height:745px;
	width: 100%;position: relative;
}
.login-wp{
	width: 300px;height: 360px;background-color: #ffffff;position: absolute;top:245px;
	right: 360px;padding: 0 20px;
}
.login-wp .hd{
	height: 70px;line-height: 70px;overflow: hidden;
}
.login-wp .hd h4{
	font-size: 24px;color: #780628;
}
.login-wp .hd h5{
	font-size: 14px;color: #999999;
}
.login-wp .hd a{
	color: #0daffb;
}
.login-wp .bd {
	margin-top: 5px;
}
.login-wp .bd ul{
	height: auto;overflow: hidden;
}
.login-wp .bd li{
	margin-bottom: 20px;height: 42px;
	
}
.login-wp .bd li .img{
	float: left;width: 40px;height: 40px;background-color: #f1f1f1;border: 1px solid #bdbdbd;border-right: none;
}
.login-wp .bd li .tx{
	height: 40px;width: 247px;border:none;padding-left: 10px;font-size: 13px;color: #b3b3b3;border: 1px solid #bdbdbd;line-height: 40px;
}
.login-wp .bd li .t1{
	width: 155px;float: left;
}
.login-wp .bd li .imgs{
	float: right;
}
.login-wp .bd h4{
	text-align: right;
}
.login-wp .bd h4 a{
	font-size: 13px;color: #333333;display: block;
}
.login-wp .ft{
	margin-top: 15px;
}
.login-wp .ft .btn{
	height: 42px;line-height: 42px;width: 303px;background-color: #780628;text-align: center;font-size: 18px;color: #FFFFFF;border: none;cursor: pointer;
}
.login-wp .ft .btn:hover{
	background-color: #680422;
}
/*注册*/
.bg2{
	background: url(../imgs/zq-img2.jpg)  center;
}
.login-wp1 li{
	margin-bottom: 10px !important;
}
.login-wp li .t2{
	width: 288px !important;
}
.login-wp li .b1{
	float: left;width: 155px !important;
}
.login-wp li .b2{
	float: left;width: 132px;height: 40px;line-height: 40px;background-color: #bdbdbd;
	font-size: 14px;color: #FFFFFF;text-align: center;border: 1px solid #bdbdbd;border-left: none;cursor: pointer;
}
/*重置密码*/
.i-banner{
	/*height: 450px;margin-top: 83px;*/margin-bottom: 30px;
}
.reset-password{
	text-align: center;width: 527px;margin: 45px auto 130px;
}
.reset-password .step{
	margin-bottom: 65px;
}
.reset-password .from li{
	margin-bottom: 20px;
}
.reset-password .from label{
	width: 80px;text-align: right;display: inline-block;font-size: 16px;color: #364859;
	margin-right: 25px;
}
.reset-password .from .txt{
	width: 265px;padding-left: 10px;height: 25px;line-height: 25px;border: none;border: 1px solid #dbdbdb;
}
.reset-password .btn{
	margin-top: 40px;width: 115px;height: 35px;line-height: 35px;text-align: center;
	font-size: 16px;color: #FFFFFF;background-color: #770628;cursor: pointer;border: none;border-radius: 3px;margin-right:45px;
}
.reset-password .btn:hover{
	background-color: #680422;
}
/*展会活动*/
.fair-warn{
	margin-top: 10px;height: auto;overflow: hidden;
}
.fair-warn ul{
	width: 105%;
}
.fair-warn li{
	width: 580px;float: left;margin-right:38px;
}
.fair-warn li .img{
	position: relative;
}
.fair-warn li img{
	width: 580px;height: 372px;display: block;
}
.fair-warn li .img h4{
	position: absolute;top:0;left: 0;width: 145px;height: 70px;line-height: 70px;text-align: center;font-size: 18px;color: #FFFFFF;background-color: #770628;z-index: 9;
}
.fair-warn li .img h5{
	position: absolute;height: 40px;line-height: 40px;width: 130px;text-align: center;font-size: 16px;background-color: #770628;z-index:1;color: #FFFFFF;right: 15px;
	bottom: 10px;
}
.fair-warn li .img h5:hover{
	background-color: #5A041E;
}
.fair-warn .txt{
	width: 580px;font-size: 14px;height: 132px;border: 1px solid #ebebeb;border-top: none;overflow: hidden;
}
.fair-warn .txt dl{
	float: left;
}
.fair-warn .txt dl dd{
	padding-right: 20px;font-size: 14px;color: #333333;
}
.fair-warn .txt label{
	width:90px;height: 35px;line-height: 35px;display: inline-block;color: #333333;background-color: #f0f0f0;padding: 7px 0;text-align: center;
	margin-right: 10px;
}
.fair-warn .txt dd:nth-child(2) label{
padding: 0 !important;
}
.review-past{
	margin-top: 25px;height: auto;overflow: hidden;
}
.review-past .head{
	height: 45px;line-height: 45px;border-bottom: 1px solid #ececec;
}
.review-past .head h3{
	font-size: 20px;color: #770628;display: inline-block;border-bottom:3px solid #770628;
	position: relative;top: -1px;
}
.review-past ul{
	margin-top: 25px;
}
.review-past li{
	margin-bottom: 20px;height: 210px;padding: 20px 0 0 15px;border: 1px solid #ebebeb;
}
.review-past ul .on,
.review-past li:hover{
	background-color: #f2f2f2;border-color: #f2f2f2;
}
.review-past .on .txt,
.review-past li:hover .txt{
	border-color: #FFFFFF;
}
.review-past li .img{
	float: left;width: 292px;height: 187px;overflow: hidden;
}
.review-past li img{
	transition: all 0.5s;
}
.review-past li:hover img{
	transform: scale(1.1);
}
.review-past li .txt{
	float: left;width:590px;padding: 0 50px 0 30px;border-right:3px solid #d1d1d1 ;
}
.review-past li .txt h4{
	font-size: 18px;color: #333333;margin-bottom: 30px;
}
.review-past li .txt p{
	color: #666666;font-size: 14px;line-height: 25px;
}
.review-past li .txt h5{
	color: #666666;font-size: 14px;margin-top:35px;
}
.review-past li .date{
	float: left;width: 200px;text-align: center;
}
.review-past li .date h2{
	font-size: 60px;color: #770628;margin-top: 30px;
}
.review-past li .date h4{
	font-size: 18px;color: #FFFFFF;height: 35px;width: 110px;line-height: 35px;text-align: center;background-color: #d1d1d1;position: relative;margin:15px auto 0;
}
.review-past li .date em{
	background: url(../imgs/zq-ico2.png) no-repeat ;width: 8px;height: 7px;position: absolute;left: 50%;margin-left: -4px;top: -7px;
}
.pages{
	margin: 25px 0 55px 0;
}
.pages ul{
	text-align: center;
}
.pages li{
	margin: 0 3px;display: inline;
}
.pages a{
	display: inline-block;font-size: 16px;text-align: center;height: 40px;width: 40px;line-height: 40px;border: 1px solid #f0f0f0;color: #333333;
}
.pages ul .on a,
.pages li:hover a{
	background-color: #f0f0f0;
}
.pages .prev,
.pages .next{
	width: 75px;height:40px;line-height:40px;
}
/*展会活动详情*/
.exhi-wrap{
	height: auto;overflow:hidden;
}
.exhi-wrap .left{
	float: left;width: 875px;margin:30px 0;
}
.exhi-wrap .left .txt{
	margin-bottom: 50px;color: #333333;height: auto;overflow: hidden;
}
.exhi-wrap .left .txt h4{
	font-size: 18px;line-height:30px ;font-weight: bold;
}
.exhi-wrap .left .txt p{
	font-size: 16px;line-height: 30px;margin-left: 20px;
}
.exhi-wrap .left .txt i{
	display: inline-block;height:20px;width:6px;background-color: #770628;margin-right: 15px;position: relative;top:3px;
}
.exhi-wrap .left .txt li{
	float: left;margin-right: 115px;
}
.exhi-wrap .right{
	float: right;width: 255px;height: auto;border: 1px solid #e7e7e7;
	padding: 0 15px 0;margin-top: 20px;
}
.exhi-wrap .right .hd{
	height: 50px;border-bottom: 1px solid #d2d2d2;line-height: 50px;
}
/*.exhi-wrap .right .hd h4{
	font-size: 16px;color: #333333;border-bottom: 4px solid #d2d2d2;display: inline-block;height: 47px;
}*/
.exhi-wrap .right .from{
	margin-top: 15px;
}
.exhi-wrap .right .from ul{
	height: auto;overflow: hidden;
}
.exhi-wrap .right .from li{
	margin-bottom: 10px;height: 28px;
}
.exhi-wrap .from .txt{
	width: 240px;height: 26px;line-height: 26px;border: 1px solid #e7e7e7;font-size: 14px;color: #a9a9a9;padding-left: 10px;
}
.exhi-wrap .from .b1{
	float: left;width: 158px;
}
.exhi-wrap .from .b2{
	float: left;width: 85px;text-align: center;line-height: 28px;height: 28px;color: #FFFFFF;background-color: #1779af;cursor: pointer;
}
.exhi-wrap .from .btn{
	background-color: #770628;color: #FFFFFF;border: none;height: 40px;line-height: 40px;width: 255px;text-align: center;font-size: 14px;cursor: pointer;
}
.exhi-wrap .hot-list{
	margin-top: 15px;
}
.exhi-wrap .hot-list li{
	margin-bottom:20px;
}
.exhi-wrap .hot-list img{
	height: 157px;width: 255px;display: block;
}
.exhi-wrap .hot-list .txt{
	background-color: #7f7f7f;padding: 10px 0 10px 10px;
}
.exhi-wrap .hot-list .txt p{
	font-size: 12px;color: #FFFFFF;line-height: 25px;
}


/*移民项目*/
.house-nav{
	border: 1px solid #e8e8e8;
}
.house-nav dl{
	height: 45px;border-bottom: 1px dashed #e8e8e8;margin: 0 10px;line-height: 45px;
}
.house-nav dl:last-child{
	border-bottom: none;
}
.house-nav dt,
.house-nav dd{
	display: inline;
}
.house-nav dt{
	font-size: 12px;width: 70px;text-align: right;color: #666666;display: inline-block;
}
.house-nav dd{
	font-size: 14px;margin: 0 8px;
}
.house-nav a{
	padding: 4px 7px;color: #333333;
}
.house-nav .on a,
.house-nav a:hover{
	background-color: #770628;color: #FFFFFF;
}
.project-list{
	margin-top: 20px;
}
.project-list ul{
	width: 105%;height: auto;overflow: hidden;
}
.project-list li{
	margin-right:30px;margin-bottom: 30px;float: left;width: 380px;height: auto;
}
.project-list li .img{
	position: relative;width: 380px;height: 244px;overflow: hidden;
}
.project-list li .img img{
	transition: all 0.5s;width: 380px;height: 244px;
}
.project-list li:hover img{
	transform: scale(1.1);
}
.project-list li .mask{
	position: absolute;top: 0;left: 0;right: 0;bottom: 0;
	background: rgba(0,0,0,0.5);width: 380px;height: 244px;
}
.project-list li .btn{
	position: absolute;width: 245px;height: 70px;border: 1px solid #FFFFFF;top: 50%;margin-top: -35px;left: 50%;margin-left: -122.5px;line-height: 70px;
}
.project-list li .btn h4{
	font-size: 32px;color: #FFFFFF;text-align: center;
}
.project-list li:hover .btn h4{
	color: #770628;
}
.project-list li:hover .btn{
	border-color: #770628;
}
.project-list li .txt{
	height: 160px;width:353px ;background-color: #f7f8fa;padding: 0 10px 0 15px;
	border: 1px solid #e0e0e0;border-top: none;
}
.project-list .txt h4{
	font-size: 18px;color: #770628;padding: 20px 0 18px 0;
}
.project-list li p{
	font-size: 14px;color: #666666;line-height: 25px;
}
/*全球房产*/
.house-pro-list{
	position: relative;
}

.scrolling{
	margin-top: 20px;width: 100%;overflow: inherit;
}
.scrolling .hd{
	width: 1320px;height: 50px;
}
.scrolling .tempWrap{
	height: 412px;
}
.scrolling li{
	margin-right: 24px;
}
.scrolling .bd{
	width: 100%;overflow: hidden;
}
.scrolling .bd li h3{
	padding-bottom: 30px;
}
.house-pro-list li .img img{
	display: block;
}
.house-pro-list li h4{
	font-size: 16px;color: #fe4040;
}
.house-pro-list li h4 span{
	font-size: 14px;color: #9e9e9e;
}
.house-pro-list li .txt .btn{
	bottom:10px;
    top: auto !important;
    left: 15px !important;
    background: #C27B01;
    color: #fff;
}
.scrolling li .txt .btn:hover{
	background-color: #b07104;
}
.house-pro-list .prev,
.house-pro-list .next{
	position: absolute;width: 30px;height: 52px;cursor: pointer;z-index: 999;left:-60px;top: 50%;margin-top: -26px;
	background:url(../imgs/zq-ico3.png) no-repeat;
}
.house-pro-list .next{
	right: -60px;left: auto;background:url(../imgs/zq-ico4.png)  no-repeat;
}

.h-auto{
	margin-top: 25px;height: auto;overflow: hidden;
}
.house-detail{
	float: left;width: 895px;margin-bottom: 10px;
}
.house-detail li{
	margin-bottom:20px ;height: 232px;overflow: hidden;
}
.house-detail li .img{
	float: left;width: 338px;height: 232px;overflow: hidden;
}
.house-detail li img{
	transition: all 0.5s;
}
.house-detail li:hover img{
	transform: scale(1.1);
}
.house-detail li .txt{
	float: left;width: 490px;height: 205px;border: 1px solid #e7e7e7;border-left: none;
	padding: 25px 40px 0 25px;
}
.house-detail li .txt h3{
	font-size: 18px;color: #666666;margin-bottom: 30px;font-weight: bold;
}
.house-detail li:hover .txt h3{
	color: #770628;
}
.house-detail li .bd{
	height: auto;overflow: hidden;
}
.house-detail li .bd dd{
	float: left;color: #666666;margin-right: 40px;margin-bottom: 10px;width: 185px;
}
.house-detail li .txt .line{
	width: auto;margin-right: auto;position: relative;
}
.house-detail li .line span{
	position: absolute;
    height: 7px;width: 145px;
    border-radius: 8px;
    background: #bebebe;
    overflow: hidden;
    top: 5px;left:115px;
}
.house-detail li .line i{
	display: block;
    height: 100%;
    background: #c27b01;
   border-radius: 8px;
}
.house-detail li .ft{
	height: auto;
}
.house-detail li .ft h4{
	font-size: 18px;color: #ff0000;float: left;margin-top: 35px;
}
.house-detail li .ft big{
	font-size: 30px;
}
.house-detail li .ft span{
	color: #666666;
}
.house-detail li .ft dl{
	float: right;margin-top: 45px;
}
.house-detail li .ft dd{
	float: left;
}
.house-detail li .ft a{
	display: block;width: 95px;height: 35px;line-height: 35px;text-align: center;font-size: 12px;color: #666666;background-color: #ededed;border-radius:4px ;
}
.house-detail li .ft .on{
	margin-right:10px ;
}
.house-detail li .ft .on a,
.house-detail li .ft a:hover{
	background-color:#770628 ;color: #FFFFFF;
}
.house-side{
	width: 265px;float: right;border: 1px solid #e7e7e7;height: auto;overflow: hidden;
	padding: 0 10px;
}
.house-side .hd{
	height: 45px;line-height: 45px;border-bottom: 1px solid #e7e7e7;
}
.house-side .hd h4{
	float: left;font-size: 16px;color: #333333;border-bottom: 3px solid #d2d2d2;position: relative;top: -2px;
}
.house-side .hd h5{
	float: right;font-size: 12px;color: #666666;
}
.house-side .tempWrap{
	width: 265px;
}
.house-side .bd{
	height: auto;
}
.house-side .bd li{
	margin-top: 15px;font-size: 14px;color: #333333;
}
.house-side .bd li label{
	margin-right:20px;display:inline-block;
}
.house-side .bd li label:last-child{
	margin-right: auto;
}
.house-side .from{
	margin-top: 15px;height: auto;overflow: hidden;
}
.house-side .from li{
	margin-bottom: 10px;height: 25px;width: 250px;line-height: 25px;
}
.house-side .from .txt{
	height: 25px;width: 245px;padding-left: 5px;font-size: 14px;color: #a9a9a9;border: none;border: 1px solid #e7e7e7;line-height: 25px;
}
.house-side .from .b1{
	float: left;width: 158px !important;
}
.house-side .from .b2{
	float: left;width: 85px;height: 27px;background-color: #1779af;text-align: center;line-height: 27px;color: #FFFFFF;font-size: 14px;cursor: pointer;
}
.house-side .btn{
	width: 255px;height: 40px;line-height: 40px;text-align: center;background-color: #770628;color: #FFFFFF;font-size: 14px;cursor: pointer;border: none;margin-bottom: 15px;
}
.house-side .btn:hover{
	background-color: #5A041E;
}
.house-side .img{
	position: relative;width: 255px;height: 157px;overflow: hidden;
}
.house-side .img .txt{
	position: absolute;height: 50px;width:245px ;background: rgba(0,0,0,0.5);bottom: 0;left: 0;right: 0;padding-left: 10px;padding-top: 15px;
}
.house-side .img .txt p{
	font-size: 12px;color: #FFFFFF;margin-bottom: 10px;
}
.house-side .lists{
	margin: 22px 0;height: auto;overflow: hidden;
}
.house-side .lists li{
	margin-bottom: 18px;
}
.house-side .lists li a{
	display: block;font-size: 12px;color: #555555;
}
